.firstsec {
    background-color: #1f2937;
}

.header_logo {
    font-size: 24px;
    color:#f9faf8;
    flex-direction: row;
}

.header-link {
    font-size: 18px;
    color: #e5e7eb;
    flex-direction: row;
    margin-right: 25px;
}

.navbar {
    display: flex;
    flex-direction: row;
}

ul {
    display: flex;
    flex-direction: row;
}

.navbarleft, .navbarright {
    display: flex;
    width: 50%; 
    justify-content: center;
    align-items: center;
}

.website-welcome {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    flex-direction: row;
    margin: 0;
}

.website-info {
    font-size: 18px;
    color: #e5e7eb;
    flex-direction: row;
    text-align: center;
}

.welcome {
    display: flex;
    flex-direction: row;
}

.welcome-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}

.sign-up {
    background-color: #3882f6;
    color: white;
    height: 50px;
    width: 90px;
    border: 1px;
    border-radius: 10px;
}

.welcome-right {
    display: flex;
    width: 50%;
}

img {
    margin: 50px
}

.white-section {
    background-color: white;
}

h1 {
    text-align: center;
}

.random-info {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.picture-placeholders {
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxholder {
    display: flex;
    flex-direction: column;
    width: 125px;
    margin-right: 50px;
}

.box {
    background-color: white;
    border: 4px solid blue;
    border-radius: 10px;
    height: 125px;
    width: 125px;
}

p {
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    margin-bottom: 100px;
}

.inspiration {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-holder {
    display: flex;
    flex-direction: column;
    padding-top: 200px;
    width: 650px;
}

#quote {
    font-size: 36px;
    font-style: italic;
    text-align: left;
    color: #1f2937;
    margin-bottom: 0;
}

#quote-source {
    font-size: 18px;
    font-weight: bolder;
    text-align: right;
}

.final-div {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.call-to-action {
    background-color: #3882f6;
    width: 1000px;
    height: 200px;
    border: 4px solid #3882f6;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: 0px;
}

.call-right{
    display: flex;
    width: 70%; 
    flex-direction: column;
    align-items: flex-start;
    padding-left: 100px;
    padding-top: 40px;
}

.call-left {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
}

#call {
    color: white;
    font-family: "Roboto";
    margin-bottom: 0;
}

#sign-text {
  color: white;
  margin-top: 5px;
}

#sign-up2 {
    background-color: #3882f6;
    color: white;
    height: 50px;
    width: 90px;
    border: 1px solid white;
    border-radius: 10px;
}

body {
    margin: 0;
}