.firstsec {
    background-color: #1f2937;
}

.header_logo {
    font-size: 24px;
    color:#f9faf8;
    flex-direction: row;
}

.header-link {
    font-size: 18px;
    color: #e5e7eb;
    flex-direction: row;
}

.navbar {
    display: flex;
    flex-direction: row;
}

ul {
    display: flex;
    flex-direction: row;
}

.navbarleft, .navbarright {
    display: flex;
    width: 50%; 
    justify-content: center;
    align-items: center;
}

.website-welcome {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    flex-direction: row;
}

.website-info {
    font-size: 18px;
    color: #e5e7eb;
    flex-direction: row;
}

.welcome {
    display: flex;
    flex-direction: row;
}

.welcome-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.welcome-right {
    display: flex;
    width: 50%;
}

body {
    margin: 0;
}