.firstsec {
    background-color: #1f2937;
}

.header_logo {
    font-size: 24px;
    color:#f9faf8;
    flex-direction: row;
}

.header-link {
    font-size: 18px;
    color: #e5e7eb;
    flex-direction: row;
    margin-right: 25px;
}

.navbar {
    display: flex;
    flex-direction: row;
}

ul {
    display: flex;
    flex-direction: row;
}

.navbarleft, .navbarright {
    display: flex;
    width: 50%; 
    justify-content: center;
    align-items: center;
}

.website-welcome {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    flex-direction: row;
    margin: 0;
}

.website-info {
    font-size: 18px;
    color: #e5e7eb;
    flex-direction: row;
    text-align: center;
}

.welcome {
    display: flex;
    flex-direction: row;
}

.welcome-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}

.sign-up {
    background-color: #3882f6;
    color: white;
    height: 50px;
    width: 90px;
    border: 1px;
    border-radius: 10px;
}

.welcome-right {
    display: flex;
    width: 50%;
}

img {
    margin: 50px
}

.white-section {
    background-color: white;
}

h1 {
    text-align: center;
}

body {
    margin: 0;
}